<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>HelloServlet</servlet-name>
    <servlet-class>HelloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloServlet</servlet-name>
    <url-pattern>/HelloServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Test1Servlet</servlet-name>
    <servlet-class>com.cpe.tuto.jee.servlet.Test1Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test1Servlet</servlet-name>
    <url-pattern>/Test1Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Redirect1Servlet</display-name>
    <servlet-name>Redirect1Servlet</servlet-name>
    <servlet-class>Redirect1Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Redirect1Servlet</servlet-name>
    <url-pattern>/Redirect1Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Redirect2Servlet</display-name>
    <servlet-name>Redirect2Servlet</servlet-name>
    <servlet-class>Redirect2Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Redirect2Servlet</servlet-name>
    <url-pattern>/Redirect2Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Redirect4Servlet</display-name>
    <servlet-name>Redirect4Servlet</servlet-name>
    <servlet-class>Redirect4Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Redirect4Servlet</servlet-name>
    <url-pattern>/Redirect4Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Redirect5Servlet</display-name>
    <servlet-name>Redirect5Servlet</servlet-name>
    <servlet-class>Redirect5Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Redirect5Servlet</servlet-name>
    <url-pattern>/Redirect5Servlet</url-pattern>
  </servlet-mapping>
</web-app>